<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Employees</title>
</head>
<body>
    <h1>List of All Employees</h1>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Location</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.employeeName}"></td>
            <td th:text="${employee.employeeEmail}"></td>
            <td th:text="${employee.location}"></td>
        </tr>
    </table>
</body>
</html>
